# hidden files
.*

!.gitignore

# Too big to upload
adb-fastboot/platform-tools/STOCK/**/*.img
adb-fastboot/platform-tools/STOCK/**/*.zip
termux-*.apk
lineage-*
MindTheGapps-*
twrp-*

OLD
LineageOS/lineage-*.zip
LineageOS/MindTheGapps*.zip
LineageOS/LineageImages/*.img
!LineageOS/LineageImages/super_empty.img
